# Eclipse files to ignore
/.settings
/.project
/.classpath
/.factorypath

/target


# Spring files to ignore
application*local*.yml

# Java files to ignore
*.jar

# Maven files to ignore
dependency-reduced-pom.xml
